@import url("Styles/animations.css");
@import url("Styles/header.css");
@import url("Styles/project.css");
@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap");

:root
{
  --primaryColour: #16f;
  --secondaryColour: #16f;
  --tertiaryColour: #16f;
  --black: rgb(0, 0, 0);

  --primaryColourTranslucent: rgba(var(--primaryColour), 0.95);
  --secondaryColourTranslucent: rgba(var(--secondaryColour), 0.95);
  --teriaryColourTranslucent: rgba(var(--tertiaryColour), 0.95);
  --blackTranslucent: rgba(var(--black), 0.95);
}

html
{
  scroll-behavior: smooth;
  text-align: left;
  padding: 0;
  font-family: "Quicksand", 'sans-serif';
}
* 
{
    color:#ffffff;
}
body {
  background-image: url('Resources/BackgroundGIF.gif');
  background-repeat: repeat;
  background-size: 50% auto;

  margin: 0px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.75;
  transition: all .5s;
}
a
{
    text-decoration: none;
}
p
{
  font-family: "Open Sans", 'sans-serif';
    font-size: 15px;
    padding: 0;
    margin: 0;
}
li
{
  list-style-type: none;  
}
/* height */
::-webkit-scrollbar {
  height: 50px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111015;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #403f60;
  border-radius: 0.5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #302f3d;
}

/* #region Sections and Containers */
.sectionBox
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto 2em;
  padding: 0;
  border-radius: 5px;
  width: 100%;
  max-width: 1900px;
}
.sectionBox.doubled:not(.reversed) > *:first-child { margin-bottom: 2em; }
.sectionBox.doubled.reversed { flex-direction: row-reverse; }

.sectionBox.withLoadAnimation { opacity: 0%; animation: LoadInfo 0.65s ease-in-out 0.5s forwards; }


.container
{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5em;
  padding: 5em 10em;
  min-height: 15vh; min-height: 15svh;
  transition: all .5s;
  max-width: 1700px;
}
.doubled > .container { padding: 4em; }
.lighterBox { background-color:rgb(19, 20, 31, .95); }
.darkerBox { background-color:rgb(13, 13, 19, .95); }
.container > *:first-child { margin-top: 0; }
.reversed > .container > :not(*:first-child) { margin-top: 0; }
.container > p { margin-bottom: .5em; }
@media only screen and (max-width: 1015px) 
{
    .container { padding: 3em 5em; }
}
@media only screen and (max-width: 600px) 
{
    .container { margin: 0 15px; }
}

.containerHeaderRow
{
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.containerHeaderRow h1 { margin: .1em !important; }
.containerHeaderRow a
{ 
  align-items: center; 
  margin: .1em auto .75em;
}
@media only screen and (min-width: 840px)  
{ 
  .containerHeaderRow > a 
  { 
    display: flex; 
    margin-left: auto;  
    margin-right: 3em;
  } 
  .containerHeaderRow * { margin-top: 0 !important; }
}
@media only screen and (max-width: 840px) 
{
  .containerHeaderRow { flex-direction: column-reverse; justify-content: center; text-align: center; }
}
.container h1, h2
{
  font-weight: 500;
  margin: 0.2em 0;
}
@media only screen and (max-width: 840px)  { .container h1 { text-align: center; } }
.container > h2 { color:#929292; margin: 0.75em 0; }

@media only screen and (min-width: 1300px) 
{
  .sectionBox { flex-direction: row; }
  .sectionBox.doubled:not(.reversed) > *:not(:first-child) { margin: 0 5em 0 2em; }
  .sectionBox.doubled:not(.reversed) > *:first-child { margin-right: 0; margin-bottom: 0; }

  .sectionBox.doubled.reversed > :first-child { margin: 0 5em 0 2em; }
  .sectionBox.doubled.reversed > *:not(*:first-child) { margin-right: 0; margin-bottom: 0; }

  .container { width: calc(100% - 5em); }
}


.footer 
{   
  display: flex;
  position: relative;
  align-items: center;
  
  background-color: #101010;
  width: 100vw; width: 100svw;
  margin: 0 auto;
  padding: 10px; 
}
.footer > .container 
{ 
  padding: .5em 1em;
  min-height: 2vh; min-height: 2svh; 
  flex-direction: row;
  position: relative;
  align-items: center;
}
.footer *.footerImage
{
  width: 1.5em;
  height: translateX();
  margin: 0 .5em;
}

/* #endregion */

.btn 
{ 
  cursor: pointer; 
}
.btn.hasBorder
{
  border: 3px solid #4d4d4d;
  padding: .75em 1.5em;
  display: inline-flex;
}
.btn.isRounded
{
  border-radius: 1.25em;
}
.btn.lighterBg { background-color: rgba(31, 29, 50, 0.9); }
.btn.lighterBg:hover { background-color: rgba(52, 49, 83, 0.9); }
.btn.darkerBg { background-color: rgba(7, 9, 16, 0.9); }
.btn.darkerBg:hover { background-color: rgba(18, 23, 40, 0.9); }

.headerLine
{
  height: 2px;
  background: linear-gradient(to right, transparent, #818181 max(3em, 5%), #818181 min(50em, 50%), transparent);
  align-self: center;
  margin: 0em -1em 1.5em;
  min-width: 100%;
}
@media only screen and (max-width: 840px) 
{
  .headerLine { background: linear-gradient(to right, transparent, #818181 max(3em, 5%), #818181 min(calc(100% - 3em), 95%), transparent); }
}





/* #region OLD */


/* Projects */

#Projects
{
  height: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#Projects::before, .Container::before
{
  display: table;
  content: " ";
}

#Projects::after, .Container::after
{
  clear: both;
  display: table;
  content: " ";
}

#ProjectCategories
{
  width: 100%;
  margin: 10px 0;
  display: inline-flex;
  justify-content: center;
  text-align: center;
}


/* #endregion */

/* #region Headings */
.Heading {
    font-weight: 700;
    font-family: "Roboto Sans", sans-serif;
    margin-bottom: 20px;
}

.Heading.Title
{
    font-size:48px;
    line-height: 1;
}

.Heading.Title.Grey
{
    color:#929292;
}

.Heading.Sub
{
    font-size:36px;
    margin-bottom:-5px;
}

.Heading.Sub.Grey
{
    color:#929292;
}

.Title
{
    font-size:24px;
    font-weight: 700;
    color:#b4b4b4;
    font-family: "Roboto Sans", sans-serif;
}

.HeaderTitle
{
  font-size: 32px;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .Heading.Title { font-size:36px; }
  .Heading.Sub { font-size:24px; }
  .HeaderTitle { font-size:30px; }
  .Title { font-size:18px; }
}

@media only screen and (max-width: 415px)
{
  .HeaderTitle { font-size: 25px; }
}

.ListGroup
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.List 
{
  display: flex;
  flex-direction: column;
}

.List.Left { margin: 0 40px 0 0; }
.List.Right { margin: 0 0 0 40px; }

@media only screen and (max-width: 650px) {
  .ListGroup { display: block; }
  .List.Left, .List.Right { margin: 0; }
}

/* #endregion */

















.ProjectImageContainer
{
  width: 100%; 
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.ProjectImage
{
  transition: transform .2s;
  width: 100%;
  z-index: 0;
}
.ProjectImageContainer:hover
{
  box-shadow: 0 0 50px rgb(143, 143, 143) inset;
}

.ProjectContainer:hover .ProjectImage
{
  transform: scale(1.15);
}

.AdditionInfo
{
  z-index: 1;
  position: relative;
  width: 100%;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 1); 
}



/* #endregion */