@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");

html
{
  scroll-behavior: smooth;
}
* 
{
    color:#ffffff;
    font-family: "Open Sans", sans-serif;
}
body {
  background-image: url('Resources/BackgroundGIF.gif');
  background-repeat: repeat;
  background-size: 50% auto;

  margin: 0px;
}
a
{
    text-decoration: none;
}
p
{
    line-height: 25px;
    font-size: 15px;
}
li
{
  list-style-type: none;  
}
/* height */
::-webkit-scrollbar {
  height: 10px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111015;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #403f60;
  border-radius: 0.5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #302f3d;
}


#Header 
{
  background-color: #121217;
  width: 100%;
  z-index: 9999;

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}
.CustomButton
{
  cursor: pointer;
}

.CustomButton.WithBackground
{
  display: inline-flex;
  border-radius: 0.5em;
    
  margin: 0 20px;
  padding: 0px 30px;

  box-shadow: 0 0 20px black;
  background-color: rgb(34, 31, 39);
  border: 1.5px solid rgb(19, 18, 22);
}
.CustomButton.WithBackground:hover
{
  background-color: rgb(99, 90, 119);
}

.CustomButton.WithBackground.Darker
{
  background-color: rgb(29, 26, 32);
}
.CustomButton.WithBackground:hover
{
  background-color: rgb(36, 33, 43);
}

.TopProjectShowcaseScrollSection 
{ 
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  width: 100%;
}

@media only screen and (max-width: 1400px) 
{
  .TopProjectShowcaseScrollSection { scale: 0.8; }
}
@media only screen and (min-width: 0px) 
{
  .TopProjectShowcaseScrollSection 
  { 
    transform: scale .2s; 
  }
}


/* #region Navigation Header */
.Header
{
  max-width: 1200px;
  background-color:transparent;
  width: 100%;
  padding: 10px 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderHidden 
{
  display: none;
}

.HeaderFull tbody
{
  width: 90%;
}

.Navigation
{
    padding-left: 0px;
    overflow: hidden;
}

/* #region Navigation Text */
.NavigationText
{
  font-family: "Roboto Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  display:inline-block;
  margin: 0 10px;
}

.NavigationText.Selected
{
  background-color:#929292;
}

.NavigationText.ProjectButton
{
  color: #6d6d6d;
  margin: 0 20px;
  text-align: center;
}

.ProjectCategories 
{
  display:flex;
  margin: 0 auto;
}

.ProjectButton:hover { color: #919191; }

.NavigationText.ProjectButton.CategoryInactive
{
  color: #6d6d6d;
}

@media only screen and (max-width: 570px)
{
  .ProjectCategories { display: block; }
  .NavigationText.ProjectButton { 
    line-height: 25px; 
    padding: 10px 0px;
  }
}

.FullHeader
{
  display: flex; 
  justify-content: space-between;
}

#CompressedIconToggle
{
  width: 4em; 
  height: 4em; 
  float: right;
}

@media only screen and (max-width: 415px)
{
  #CompressedIconToggle { width: 3em; height: 3em; }
}

/* Mobile */
#NavLinks
{
  display: none;
  margin: 75px 10px 0 0;
  padding: 10px;
  width: auto;
  right: 3%;
  background-color: #121217;
  position: fixed;
  text-align: left;
  z-index: 9999;
}

.DropdownNavText
{
  font-weight: 700;
  font-size: 22px;
  list-style-type: none; 
  padding: 16px;
}

/*#endregion*/

@media only screen and (max-width: 980px)
{
  .FullHeader { display: none; }
  .CompressedHeader { display: inline-flex; }
}

.Navigation a
{
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.Navigation a:hover
{
    background-color:#353535;
}
/* #endregion */

.LogoLinks
{
    width:50px;
    height:50px;

    padding:10px;

    display:inline-block;
}

.LogoLinks.ContactSection
{
  width: 4em;
  height: 4em;
}

#Content
{
  padding-top:25px;
}

.TopProjectShowcaseVideo
{
  display: flex;
  width: 100%;
  min-width:1000px;
  margin-top: -20%;

  mask-image: linear-gradient(to bottom, rgb(255, 255, 255) 95%, transparent 100%);
}

/* #region Containers */
.Section
{
  align-self: center;
  align-content: center;
  text-align: center;

  width: calc(100% - 10em);
  max-width: 1200px;

  margin: 2em auto;
  opacity: 98%;

  border-radius: 5px;
}

.Section.Project
{
  width: 100%;
  text-align: left; 
  margin: -1em auto;
}

.Section.ProjectInfo
{
  display: flex;
  justify-content: space-evenly;
}

.Section.Left {
  margin-right: 10px
}

.Section.Right {
  margin-left: 10px
}

@media only screen and (max-width: 980px) {
  .Section { width: calc(100% - 5em); }
}
@media only screen and (max-width: 850px) {
  .Section.ProjectInfo { flex-direction: column; }
  .Section.Left { margin: 0 0 5px 0; width: 100%; }
  .Section.Right { margin: 5px 0 0 0; width: 100%; }
}
@media only screen and (max-width: 500px) {
  .Section { width: calc(100% - 2.5em); }
}

.Section.One
{
  background-color:#15161F;
}

.Section.Two
{
  background-color:#1C1D29;
}

.Section.Footer
{
  background-color: #121217;
  width: 100%;
  min-width: 100%;
  opacity: 100%;
  margin: 0px;
  padding: 10px;
}

.Section.Contact
{
  background-color: #15161F;
}

/* Containers */

.Container
{
  position: relative;
  width: 90%;
  margin: 20px auto;
}

.ContainerContent
{
  margin: 50px auto;
  width: 75%;
  text-align: left;
  float: none;
  vertical-align: middle;
  position: relative;

  text-wrap: wrap;
}

.Container.Double
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ContainerContent.Left
{
  margin-right: 25px;
}

.ContainerContent.Right
{
  margin-left: 25px;
}

@media only screen and (max-width: 1140px) {
  /*.Container { margin: 50px auto; }*/
  .ContainerContent { width: 90%;}
  .Container.Double { width: 90%; margin: 10px auto; }
  .ContainerContent.Double.Left { margin-right: 0px; }
  .ContainerContent.Double.Right { margin-left: 0px; }
}

/* Projects */

#Projects
{
  height: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#Projects::before, .Container::before
{
  display: table;
  content: " ";
}

#Projects::after, .Container::after
{
  clear: both;
  display: table;
  content: " ";
}

#ProjectCategories
{
  width: 100%;
  margin: 10px 0;
  display: inline-flex;
  justify-content: center;
  text-align: center;
}


/* #endregion */

/* #region Headings */
.Heading {
    font-weight: 700;
    font-family: "Roboto Sans", sans-serif;
    margin-bottom: 20px;
}

.Heading.Title
{
    font-size:48px;
    line-height: 1;
}

.Heading.Title.Grey
{
    color:#929292;
}

.Heading.Sub
{
    font-size:36px;
    margin-bottom:-5px;
}

.Heading.Sub.Grey
{
    color:#929292;
}

.Title
{
    font-size:24px;
    font-weight: 700;
    color:#b4b4b4;
}

.HeaderTitle
{
  font-size:36px;
}

@media only screen and (max-width: 600px) {
  .Heading.Title { font-size:36px; }
  .Heading.Sub { font-size:24px; }
  .HeaderTitle { font-size:30px; }
  .Title { font-size:18px; }
}

@media only screen and (max-width: 415px)
{
  .HeaderTitle { font-size: 25px; }
}

.ListGroup
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.List 
{
  display: flex;
  flex-direction: column;
}

.List.Left { margin: 0 40px 0 0; }
.List.Right { margin: 0 0 0 40px; }

@media only screen and (max-width: 650px) {
  .ListGroup { display: block; }
  .List.Left, .List.Right { margin: 0; }
}

/* #endregion */

/* #region Slideshow */

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .SlideshowContainer {
    width: 80%;
    position: relative;
    display:inline-block;
    margin: 20px 0 40px;
    background-color: #0e0e0e;
  }
  
  /* Hide the images by default */
  .Slide {
    display: none;
    display:inline-block;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .Cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .Prev,
  .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .Next {
    right: 25px;
    border-radius: 3px 0 0 3px;
  }

  .Prev
  {
    left: 25px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .Prev:hover,
  .Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .NumberText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 12px 12px;
    position: absolute;
    top: 5px;
  }
  
  /* Container for image text */
  .CaptionContainer {
    text-align: center;
    background-color: #222;
    padding: 1px;
    color: white;
  }
  
  /* Add a transparency effect for thumnbail images */
  .DemoHolder
  {
    display: flex;
    overflow: auto;
    white-space: nowrap;
  }
  
  .Demo {
    opacity: 0.6;
    width: 150px;
    height: auto;
    vertical-align: middle;
    margin: 5px 5px 10px;
  }
  
  .Active
  {
    border-style: solid;
    border-radius: 1px;
    border-color: #d8d8d8;
  }

  .Active,
  .Demo:hover {
    opacity: 1;
  }

  #Caption
  {
    line-height: 15px;
  }

/* #endregion */ 



.BorderSeperator
{
  margin: 10px auto;
  border-style: solid;
  border-color: #818181;
  border-width: 1.5px;
}














.Projects
{
  display: flex; 
  flex-wrap: wrap; 
}

.ProjectContainer
{
  border: none;
  text-align: left;
  display: inline-block;
  background-color: black;
  font-size: 1rem;
  margin: 20px;
  line-height: 1.44;
  
  width: calc(50% - 40px);

  overflow: hidden;
}

.ProjectImageContainer
{
  width: 100%; 
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.ProjectImage
{
  transition: transform .2s;
  width: 100%;
  z-index: 0;
}

.ProjectContainer:hover .ProjectImage
{
  transform: scale(1.25);
}

.AdditionInfo
{
  z-index: 1;
  position: relative;
  width: 100%;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 1); 
}

.ProjectType
{
  display: flex-start;
  z-index: 1;
  margin: 2px 5px;
  padding: 3px 6px;
  position: relative;
  font-size: 0.8em;
  font-weight: 600;

  border-radius: 5px;
}

.ProjectDescription
{
  font-size: .875rem;
  font-weight: 200;
  z-index: 9999;
  position: relative;
  z-index: 1;
  padding: 0 10px;
}

.ProjectHeader
{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CustomButton.ProjectCategoryLink
{
  background-color: rgb(80, 77, 88);
  margin: 10px 15px;
  padding: 5px 25px;
  align-items: center;
}
.ProjectCategoryLink:hover, .ProjectCategoryLink.CategoryInactive:hover
{
  background-color: rgb(70, 67, 77);
}

.ProjectCategoryLink.CategoryInactive
{
  background-color: rgb(21, 18, 24);
}

.ProjectLinkText { font-size: 20px; }

@media only screen and (max-width: 1820px) 
{
  .Projects { margin: 0 -10px; }
}
@media only screen and (max-width: 920px) 
{
  .Projects { margin: 0 50px; }
  .ProjectContainer { width: calc(100% - 40px); }
}

@media only screen and (max-width: 680px) 
{
  .Projects { margin: 0 0; }
  .AdditionInfo { font-size: 1rem; }
  .ProjectDescription { font-size: .75rem; }
  .ProjectHeader { flex-direction: column; }
  .ProjectLink { margin-bottom: 15px; }
  .ProjectLinkText { font-size: 15px; }
}

.ue5
{
  background-color: #1b1a2c;
}

.unity
{
  background-color: #15161F;
}

.university
{
  background-color:rgb(61, 61, 61);
}

.personal
{
  background-color:rgb(99, 99, 99);
}

.c-sharp
{
  background-color:rgb(17, 15, 29);
}

.c-plus-plus
{
  background-color:rgb(34, 34, 34);
}

.blueprints
{
  background-color:rgb(31, 29, 39);
}

.solo
{
  background-color:rgb(13, 10, 24);
}

.group
{
  background-color:rgb(33, 30, 41);
}