

/* #region navbar */
.navbar
{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    top: 0;
    z-index: 999;
    align-content: center;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
}

.navbar > *.container
{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    min-height: 3em;
    padding: .5em 0;
}
@media only screen and (max-width: 1050px) 
{
    .navbar > *.container { margin: 0 2em; }
}
@media only screen and (max-width: 450px) 
{
    .navbar > *.container { margin: 0 .5em; }
}

.navbar *.name { font-size: 1.25em; transition: all .5s; }
@media only screen and (max-width: 450px) 
{
    .navbar *.name { font-size: 1em; }
}

.navbar * .navbarMenu
{
    align-items: stretch; 
    display: flex; 
    margin-left: auto;
}

.navbarItem
{
    display: flex;
    padding: 10px 20px;
    margin: 0 5px;
    position: relative;
    align-items: center;
}
.navbarItem:hover { background-color: #353535; }
.navbarItem.selected { background-color:#929292; }
.navbarItem.hasDropdown { padding: 0; }
.arrow
{
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 0.75rem;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: all .5s;
}
.navbarItem.hasDropdown:hover .arrow
{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.navbar * .dropdown 
{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.95);
    min-width: 100%;
    padding-bottom: .5rem;
    padding-top: .5rem;
    right: 0;
    left: auto;
    top: 100%;
    z-index: 1;
}
.isActive, .navbarItem.hasDropdown:hover > .dropdown
{
    display: block !important;
}
.hasDropdown > a.navbarItem:not(.isNotInDropdown) { padding-right: 3em; margin: 0; }



.navbar * .navbarMenuCollapsed
{
    display: none;
}
.navbarCompressedIcon 
{
    width: 2.5em;
    height: 2em;
    transition: all .5s;
}
@media only screen and (max-width: 450px) 
{
    .navbarCompressedIcon { width: 2em; height: 1.5em; }
}
@media only screen and (max-width: 850px) 
{
    .navbar * .navbarMenu 
    { 
        display: none; 
        flex-direction: column;
        right: 0;
        left: auto;
        min-width:50%;
    }
    .navbar * .navbarMenuCollapsed 
    { 
        align-items: center; 
        display: flex; 
        margin-left: auto;
    }
    .arrow
    {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

.linkImage
{
    width: 1.25em;
    height: translateX();
    margin-right: 1em;
}

.contactText { font-size: 15px; padding: 5px 20px; }
/* #endregion */





.inPageLinkTarget
{
    position: absolute;
    margin: -6em 0 0;
}