

:root
{
  --black: #0D090A;
  --bgPrimaryColour: rgb(8, 7, 20);
  --bgSecondaryColour: rgb(14, 12, 27);
  --primaryColour: 9, 10, 16;
  --secondaryColour: 13, 15, 25; 

  --blackTranslucent: rgba(0, 0, 0, 0.95);
  --primaryColourTranslucent: rgba(var(--primaryColour), 0.95);
  --secondaryColourTranslucent: rgba(var(--secondaryColour), 0.95);
}



.grid 
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center; 
    align-content: stretch;
}

.gridItem5Columns { flex: none; width: 20%; }
.gridItem4Columns { flex: none; width: 25%; }
@media only screen and (min-width: 1400px) 
{.gridItem3Columns { flex: none; width: 33.33333%; } }
@media only screen and (max-width: 1200px) 
{ .gridItem2Columns { flex: none; width: 50%; } }
@media only screen and (max-width: 800px) 
{ .gridItem1Columns { flex: none; width: 100%; } }

.hasTextCentered
{
    text-align: center;
}
.Section.isFullSectionTop { margin: 0 0 2em; width: 100%; }
.Section.isFullSectionBottom { margin: 0; width: 100%; }

.projectCard {
    transform: scale(0.95);
    transition: all .25s ease-in-out;
    margin-bottom: 10px;
    padding: 15px;
    line-height: 1.44;
    width: 20%;
}
.projectCard.home { width: 25%; }
.projectCard:hover { transform:scale(1); }
.projectCard:hover .card { box-shadow: 0 0 10px rgb(48, 48, 48); }

@media only screen and (max-width: 1750px)
{
    .projectCard { width: 30%; }
} 
@media only screen and (max-width: 1500px)
{
    .projectCard, .projectCard.home { width: 40%; }
} 
@media only screen and (max-width: 920px)
{
    .projectCard, .projectCard.home { width: 65%; }
} 
@media only screen and (max-width: 700px)
{
    .projectCard, .projectCard.home { width: 100%; }
} 

.card 
{ 
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
}
.projectCard.card { transition: all 0.25s ease-in-out; }


.cardImage
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80%;

    margin: 0;
}

.cardContent
{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 25px;
    background-color: rgb(0, 0, 0, 1);
}

.cardDateText
{
    font-size: 12px;
    color: rgb(131, 131, 131);
    margin: 0 0 10px;
}

.cardDesc
{
    font-size: 1em; 
    margin: 10px 5px 0 0;
}

.cardHighlight
{
    position: absolute;
    margin: 0;
    top: -1px;
    left: -1px;
    padding: .6em 1em;
    border-radius: 0 0 1.5em 0;
    background-color: rgb(38, 38, 58); 
    max-width: 80%;
}
.cardHighlight > p { font-weight: bold; color:#bdbdbd; font-size: medium; }
.cardHighlight.small { transform: scale(0.8), translate(3px, 0); }

#ProjectAbout { flex-shrink: 2; }

.projectTag
{
    position: relative;
    z-index: 1;
    margin: .4em .4em;
    padding: 3px 6px;
    font-size: 0.9em;
    font-weight: 600;

    border-radius: .5em;
}
.projectTag.left { margin-left: 0; }
.projectTag.larger
{
    font-size: 1em;
    margin: 8px 10px;
    padding: 5px 8px;
    border: 1.5px solid rgb(36, 36, 36);
    border-radius: .75em;
}
@media only screen and (max-width: 1200px) 
{
  .projectTag.larger { font-size: 0.9em; margin: 6px 8px; }
}

.ue5
{
  background-color: #1b1a2c;
}

.unity
{
  background-color: #15161F;
}

.university
{
  background-color:rgb(61, 61, 61);
}

.personal
{
  background-color:rgb(99, 99, 99);
}

.c-sharp
{
  background-color:rgb(17, 15, 29);
}

.c-plus-plus
{
  background-color:rgb(34, 34, 34);
}

.blueprints
{
  background-color:rgb(31, 29, 39);
}

.solo
{
  background-color:rgb(13, 10, 24);
}

.group
{
  background-color:rgb(33, 30, 41);
}

/* #region Project Slideshow */
    .projectSlideshow
    {
        position: relative;
        display: inline-block;
        width: 90%;
        margin: 10px auto;
    }

    .slide
    { 
        transition: all .25s;
        display: none;
        opacity: 0;
        aspect-ratio: 16/9;
        overflow: hidden;
    }
    .slide img { width: 100%; }
    .slide iframe { width: 100%; aspect-ratio: 16/9; border-color: transparent; }

    .slideDemoStrip
    {
        display: flex;
        margin-top: .3em;
        height: 4.95vw;
        z-index: 40;
        overflow: hidden;
        background-color: rgb(var(--secondaryColour));
    }

    .demoStripItem
    {
        opacity: 0.6;
        margin: .3em .6em 4px 0;
        margin-bottom: 4px;
        width: auto;
    }
    .slideDemoStrip > :first-child.demoStripItem
    {
        margin-left: .6em;
    }
    .demoItemActive
    {
        outline-style: solid;
        outline-width: 2px;
        outline-color: #d8d8d8;
    }

    .demoItemActive, .slideDemoStrip:hover 
    {
        opacity: 1;
    }

    @media only screen and (max-width: 1300px) 
    { 
        .projectSlideshow { width: 80%; margin: 0px auto !important; }
        .slideDemoStrip { height: 6vw; }
    } 
    @media only screen and (max-width: 1000px) 
    { 
        .projectSlideshow { width: 95%; }
    }
    @media only screen and (max-width: 750px) 
    { 
        .container > .projectSlideshow  { padding: 1em; }
        .slideDemoStrip { height: 15vw; }
    }


    .demoSliderContainer
    {
        position: relative;
        display: flex;
        width: 100%;
        margin-top: .3em;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(var(--secondaryColour));
    }

    .demoSliderItem { margin: .4em; }

    .changeSlideBtn
    {
        position: relative;
        padding: .5em 1.5em;
        font-weight: bolder;
        text-align: center;
    }
    .changeSlideBtn:hover
    {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .sliderArrow
    {
        position: relative;
        border: solid rgb(255, 255, 255);
        border-width: 0 3px 3px 0;
        padding: 4px;
    }
    .sliderArrow.prev 
    { 
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    .sliderArrow.next 
    { 
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .demoSlider
    {
        position: relative;
        flex-grow: 5;
        background-color: #0D090A;
        border-radius: .3em;
        height: 1.2em;
    }

    .demoSliderHandle
    {
        position: absolute;
        height: 100%;
        border-radius: .2em;
        background-color: #1b1a2c;
        cursor: pointer;
    }
    .sliderHandleWithTransition { transition: left .3s ease-in-out; }

/* #endregion */